[Unit]
Description=backup terraria server every hour
After=multi-user.target

[Service]
User=root
WorkingDirectory=/home/pi/pi/terraria
ExecStart=/bin/bash -c '/bin/mkdir -p backups && /bin/cp config/* backups'

[Install]
WantedBy=multi-user.target
