[Unit]
Description=reboot terraria server daily @ 3:05:00
After=multi-user.target

[Service]
User=root
ExecStart=reboot now

[Install]
WantedBy=multi-user.target
