[Unit]
Description=backup terraria server every hour
After=multi-user.target

[Service]
User=root
ExecStart=/bin/cp -r /home/pi/terraria/config/ /home/pi/terraria/backups

[Install]
WantedBy=multi-user.target
